.searchVendor {
    padding-top: 3.2%;
}

h2 {
    font-weight: lighter;
}

h1 {
    font-weight: 400;
}

.addedItem{
    overflow-y: scroll;
    overflow: auto;
    overflow-x: hidden;
    height: 50vh;
}

.searchCity {
    padding-top: 3.2%;
}

h2 {
    font-weight: lighter;
}

h1 {
    font-weight: 400;
}

.addressDetails{
    overflow-y: scroll;
    overflow: auto;
    overflow-x: hidden;
    height: 50vh;
}

